.header-style-1 .navbar-brand img, .header-style-2 .navbar-brand img {
    max-width: 200px;
}
.contact-map-section .contact-map {
    height: 400px;
}
.cta-section-s2 {
    background: url(../images/bg1.jpg) center top/cover no-repeat local;
}

.page-title.services {
    background: url(../images/servbgg.jpg) center center/cover no-repeat local;
}

.page-title.contact {
    background: url(../images/contactbg.jpg) center center/cover no-repeat local;
}

.page-title.about {
    background: url(../images/math/header_bg_about.jpg) center center/cover no-repeat local;
}

.page-title.career {
    background: url(../images/math/header_bg_careers.jpg) center center/cover no-repeat local;
}

.page-title.enquiry {
    background: url(../images/enquiry.jpg) center center/cover no-repeat local;
}

.page-title.industry {
    background: url(../images/industry.jpg) center center/cover no-repeat local;
}

.service-card {
    padding: 40px 10px;
}

.ser-card-des ul {
    margin-left: 40px;
}
.card-img img {
    border-radius: 7px;
    box-shadow: 2px 2px 4px 2px #999;
}

.mless.section-title {
    margin-bottom: 20px;
}

.about-us-section-s2 {
  padding-bottom: 20px;
}

.features-section .feature-grids .grid, .features-section-s2 .feature-grids .grid {
    width: 33.33%;
}

#quote {
    padding: 30px 0 0;
}

#quote .quote {
    margin: 0 20px;
    padding: 24px 40px;
    background-color: #eee;
    border-left: 5px solid #ff5e14;
    border-right: 5px solid #ff5e14;
}

#quote .quote h3 {
    font-size: 36px;
    /*text-transform: uppercase;*/
    font-style: italic;
}

#quote .quote h3, #quote .quote p {
    margin-top: 5px;
    margin-bottom: 5px;
}

#quote .quote p {
    padding-left: 30px;
    letter-spacing: 1px;
}

#quote .quote h3::before {
    content: open-quote;
    display: inline;
    height: 0;
    line-height: 0;
    left: -10px;
    position: relative;
    top: 15px;
    color: #ccc;
    font-size: 2em;
}
#quote .quote h3::after {
    content: close-quote;
    display: inline;
    height: 0;
    line-height: 0;
    /*left: 10px;*/
    position: relative;
    top: 20px;
    color: #ccc;
    font-size: 2em;
}

.mb-4 {
    margin-bottom: 15px;
}

.career .container {
    padding-top: 0px;
}

.quote-sec {
    margin-bottom: 40px;
    text-align: right;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.quote-sec h2 {
    font-size: 32px;
}

.quote-sec p {
    font-weight: 600;
    letter-spacing: 3px;
    color: #eee;
}