.header-style-1 .navbar-brand img, .header-style-2 .navbar-brand img {
    max-width: 200px;
}
.contact-map-section .contact-map {
    height: 400px;
}
.cta-section-s2 {
    background: url(../images/bg1.jpg) center top/cover no-repeat local;
}

.page-title.services {
    background: url(../images/servbgg.jpg) center center/cover no-repeat local;
}

.page-title.contact {
    background: url(../images/contactbg.jpg) center center/cover no-repeat local;
}

.page-title.about {
    background: url(../images/aboutbg.jpg) center center/cover no-repeat local;
}

.page-title.career {
    background: url(../images/career.jpg) center center/cover no-repeat local;
}

.page-title.enquiry {
    background: url(../images/enquiry.jpg) center center/cover no-repeat local;
}

.page-title.industry {
    background: url(../images/industry.jpg) center center/cover no-repeat local;
}

.service-card {
    padding: 40px 10px;
}

.ser-card-des ul {
    margin-left: 40px;
}
.card-img img {
    border-radius: 7px;
    box-shadow: 2px 2px 4px 2px #999;
}

.mless.section-title {
    margin-bottom: 20px;
}

.about-us-section-s2 {
  padding-bottom: 20px;
}